html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
main {
  display: grid;
  width: 100%;
  place-content: center;
  position: relative;
}

header {
  position: sticky;
  top: 0;
  background: #eee;
  padding: 10px 20px;
}

.table-container {
  display: grid;
  margin-top: 2rem;
}

.table-container > :nth-child(odd) {
  background: #eee;
}

.row {
  display: grid;
  grid-template-columns: 6ch 10ch 1fr 12ch;
  list-style: none;
  gap: 0 10px;
  width: 700px;
  padding: 5px 10px;
  place-items: center;
  margin: 0;
}
.row :last-child {
  text-align: right;
}

.hide .row:has(input:checked) {
  display: none;
}

input[type='checkbox'] {
  width: 32px;
  height: 32px;
}
